<script type="text/javascript" src="diff.js"></script>
<script type = "statebus"> # -*- mode: coffee -*-

`
/*
We only call a fetch on doc from the main branch (server). We will
never merge two user branches together ignoring the main branch. 
Therefore when we get a branch from fetch('/doc') we know we are receiving 
main branch. Ancestor (base) for client means ancestor on the main
branch that can be used to merge with the head of the main branch later. 
From the main (server) branch, the ancestor is the key to the
branch itself, i.e., on main the ancestor is itself. This way we do not
have to keep track of parents like git does
*/

bus('/doc').to_fetch = function (key) {
	//console.log('new fetching doc')
}
console.log('running once')

var diff3_dig_in = function diff3_dig_in(b1, ancestor, b2) {
		var merger = Diff.diff3_merge(b1, ancestor, b2, false);
		var lines = [];
		for (var i = 0; i < merger.length; i++) {
				var item = merger[i];
				if (item.ok) {
						lines = lines.concat(item.ok);
				} else {
						var c = Diff.diff_comm(item.conflict.a, item.conflict.b);
						for (var j = 0; j < c.length; j++) {
								var inner = c[j];
								if (inner.common) {
										lines = lines.concat(inner.common);
								} else {
										lines = lines.concat(inner.file2);
										// file from client wins in conflict 
								}
						}
				}
		}
		return(lines.join(""));
}	

var ancestor_text = '' 
var ancestor_key = ''
var current_text = '' 
`

dom.BODY = ->
	console.log('running again')

	# fetch the latest text from main (server) branch
	doc = fetch('/doc')

	# TODO just pull the changes somwehow, not the ful doc as is done now

	conn = fetch('/connection')



	# each time a new doc is fetched from head of master (server), we 3-way-merge it with the current working text.
	# ancestor_text, the text from the prior fetch('/doc'), is used as the ancestor in 3-way-merge 

	setWorkingText = (doc_text) ->
		console.log('merging')
		if window.current_text and window.ancestor_text and window.ancestor_key
			# TODO uncomment merge before release
			console.log('ancestor_text', window.ancestor_text)
			console.log('current_text', window.current_text)
			console.log('doc_text', doc_text)
			merged = diff3_dig_in(doc_text.split(''),window.ancestor_text.split(''),window.current_text.split(''))
			console.log('merged', merged)
			if merged != doc_text 

				# this hash used to identify the changes made in this doc
				hash = conn.client + '@' + Date.now()
				# this is the new doc that will be saved after each change
				n_doc = {key : '/doc/' + hash}

				n_doc.text = merged 
				n_doc.ancestor = window.ancestor_key 
				console.log(n_doc.ancestor)
				save(n_doc)
		else
			merged = doc_text

		# the new doc will server as the ancestor on the window till page is updated
		window.ancestor_key = doc.ancestor
		window.ancestor_text = doc_text 
		window.current_text = merged
		return merged

	DIV null,
		style: 
			position: 'relative'
			width: 300
			height: 300
			overflow: 'scroll'
		
		TEXTAREA
			value:  setWorkingText(doc.text)
			onChange: (e) =>
				console.log('changing')

				# this hash used to identify the changes made in this doc
				hash = conn.client + '@' + Date.now()
				# this is the new doc that will be saved after each change
				n_doc = {key : '/doc/' + hash}


				n_doc.text = e.target.value
				n_doc.ancestor = doc.ancestor
				console.log('DOC',n_doc)
				save(n_doc)
				window.current_text = e.target.value
				console.log('target tex', e.target.value)
				console.log('changed')

</script>
<script src="http://localhost:8001/statebus/client.js" server="http://localhost:3004"></script>
