<script type="text/javascript" src="diff.js"></script>
<script type = "statebus"> # -*- mode: coffee -*-

dom.BODY = ->

  DIV null,
    style: 
      position: 'relative'
      width: 300
      height: 300
      overflow: 'scroll'
    
    TEXTAREA
      value:  'text on render' 
      onChange: (e) =>
        console.log('changed')

</script>
<script src="https://stateb.us/client5.js"></script>
